<div class="container m-auto grid grid-cols-1 md:grid-cols-3 gap-10">
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
</div>
<div class="block m-2 p-2"><hr></div>

<div class="container m-auto grid grid-cols-1 md:grid-cols-3 gap-10">
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
</div>
<div class="block m-2 p-2"><hr></div>


<div class="container m-auto grid grid-cols-1 md:grid-cols-3 gap-10">
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
  <div class="p-5 border-red-100 border-3 mx-auto my-12 rounded-sm bg-slate-800 text-white shadow-2xl">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt provident sed numquam vitae, aut doloremque magnam, sint, vel repellendus earum corporis quibusdam consequuntur quisquam dolorem eveniet optio? Corrupti, optio provident!</p>
  </div>
</div>
<div class="block m-2 p-2"><hr></div>
