<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <body>
    <!-- Cabecera -->
    <header th:fragment="header">
      <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <strong>MyLogo</strong>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Enlaces -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/home}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Registrarme</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Contenido -->
    <main class="container"></main>

    <!-- Pie -->
    <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
      <div class="container">
        <p>
          <a
            href="https://github.com/maximovj"
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >Creado por: Víctor J.</a
          >
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <script
      type="text/javascript"
      th:src="@{/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
